{
	"presets": [
		"@babel/preset-react",
		["@babel/preset-env", {
			"corejs": "3.31",
			"useBuiltIns": "usage"
		}]
	],
	"plugins": [
		[
			"@babel/plugin-transform-react-jsx",
			{
				"pragma": "m",
				"pragmaFrag": "'['"
			}
		],
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-transform-react-constant-elements",
		"@babel/plugin-proposal-export-default-from"
	],
	"ignore": [
		"/node_modules/",
	]
}
