@import "../../util/fonts";
@import "../../util/button";

.champion-team {
    position: relative;
    text-align: center;
    margin: 2% auto;
    box-sizing: border-box;
    box-shadow: 0 8px 0 -4px rgba(0, 0, 0, .25);
    clear: both;
    z-index: 0;

    .champion-portrait {
        margin-left: 0.3em;
    }

    .team-champions {
        position: relative;
        z-index: 1;
    }

    .team-synergies {
        position: relative;
        clear: both;
        padding: 24px 16px;
        margin-bottom: 10px;
        margin-left: 4%;
        background: #eee;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        text-align: left;
        z-index: 0;

        .team-synergy {
            margin: .5em 0 0;
            cursor: pointer;
        }

        .effect-name,
        .effect-amount {
            @extend .font--text;
            font-size: 1em;
        }
    }

    &.champion-team--size-3 {
        max-width: 40%;

        .champion-portrait {
            width: 32%;
            padding-bottom: 32%;
            .title .title-field.title-field-name {
                @media (min-width: 550px) and (max-width: 650px) {
                    font-size: 0.9em;
                }

                @media (min-width: 450px) and (max-width: 550px) {
                    font-size: 0.7em;
                }
            }

            @media (min-width: 350px) and (max-width: 528px) {
                width: 30%;
                padding-bottom: 30%;
            }

            @media (max-width: 350px) {
                width: 28%;
                padding-bottom: 28%;
            }
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            max-width: 60%;
        }

        @media (min-width: 665px) and (max-width: 800px) {
            max-width: 70%;
        }

        @media (min-width: 588px) and (max-width: 665px) {
            max-width: 80%;
        }

        @media (max-width: 588px) {
            max-width: 90%;
        }
    }

    &.champion-team--size-4 {
        max-width: 50%;

        .champion-portrait {
            width: 22%;
            padding-bottom: 22%;
            left: 4%;
        }

        @media (min-width: 1200px) and (max-width: 1400px) {
            max-width: 60%;
        }

        @media (min-width: 1000px) and (max-width: 1200px) {
            max-width: 70%;
        }

        @media (min-width: 800px) and (max-width: 1000px) {
            max-width: 80%;
        }

        @media (max-width: 800px) {
            max-width: 90%;
        }

        @media (min-width: 1400px) and (max-width: 1500px) {
            .champion-portrait {
                .title .title-field.title-field-name-long {
                    font-size: 0.7em;
                }
            }
        }

        @media (min-width: 550px) and (max-width: 650px) {
            .champion-portrait {
                .title .title-field.title-field-name-long {
                    font-size: 0.5em;
                }
            }
        }

        @media (min-width: 450px) and (max-width: 550px) {
            .champion-portrait {
                width: 21%;
                padding-bottom: 21%;
                left: 6%;
                font-size: 0.8em;
            }
        }

        @media (max-width: 450px) {
            .champion-portrait {
                width: 23%;
                padding-bottom: 23%;
                left: 1.5%;
                font-size: 0.5em;
                .title {
                    .title-field {
                        overflow: hidden;
                        padding-bottom: 0;
                        &.title-field-name {
                            line-height: 2em;
                        }
                        &.title-field-name-long {
                            font-size: 0.3em;
                        }
                    }
                }
            }
        }
    }

    &.champion-team--size-5 {
        max-width: 60%;

        @media (min-width: 1150px) and (max-width: 1500px) {
            max-width: 70%
        }

        @media (min-width: 900px) and (max-width: 1150px) {
            max-width: 80%
        }

        @media (min-width: 580px) and (max-width: 900px) {
            max-width: 90%
        }

        @media (max-width: 580px) {
            max-width: 95%
        }

        .champion-portrait {
            width: 18%;
            padding-bottom: 18%;
            left: 4%;

            @media (min-width: 555px) and (max-width: 750px) {
                width: 19%;
                padding-bottom: 19%;
                left: 1%;
            }

            @media (max-width: 555px) {
                width: 18%;
                padding-bottom: 18%;
                left: 1%;
            }
        }

        @media (max-width: 500px) {
            .champion-portrait {
                .title {
                    min-height: 35%;
                    .title-field {
                        overflow: hidden;
                        padding-bottom: 0;
                        line-height: 2em;
                    }
                    .title-field-sig-text {
                        display:none;
                    }
                }
            }
        }

        @media (max-width: 350px) {
            .champion-portrait {
                .title .title-field {
                    font-size: 0.3em;
                }
            }
        }

        @media (min-width: 350px) and (max-width: 500px) {
            .champion-portrait {
                .title .title-field {
                    font-size: 0.4em;
                }
                .title .title-field.title-field-name-long {
                    font-size: 0.25em;
                }
            }
        }

        @media (min-width: 500px) and (max-width: 600px) {
            .champion-portrait {
                .title .title-field {
                    font-size: 0.6em;
                }
                .title .title-field.title-field-name-long {
                    font-size: 0.4em;
                }
            }
        }

        @media (min-width: 600px) and (max-width: 750px) {
            .champion-portrait {
                .title .title-field {
                    font-size: 0.7em;
                }
                .title .title-field.title-field-name-long {
                    font-size: 0.5em;
                }
            }
        }
    }

    &.team--selected {
        .champion-portrait {
            .upgrade,
            .portrait {
                opacity: .1;
                transition: opacity .25s;
            }

            &.champion--neighbor {
                .upgrade,
                .portrait {
                    opacity: .666;
                }
            }

            &.champion--selected {
                .upgrade,
                .portrait {
                    opacity: 1;
                }
            }
        }

        .team-synergy {
            opacity: .5;
            transition: opacity .25s;

            &.team-synergy--selected {
                opacity: 1;
            }
        }
    }

    .team-pi {
        @extend .font--title;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 16px 8px 0;
        font-size: 1em;
        text-align: right;
        text-shadow: 0 1px 0 #fff;
        color: #bbb;

        .team-pi-number {
            @extend .font--text;
            font-size: 1em;
            font-weight: bold;
            color: #000;
        }
    }

    @media print {
        padding-top: 20px;
        box-shadow: none;
        page-break-inside: avoid;
    }
}
